/*******
* Reset
********/
html,
body {
  text-align: left;
  font-size: 1em;
  font-family: sans-serif;
}
html,
body,
img,
form,
textarea,
input,
fieldset,
div,
p,
div,
ul,
li,
ol,
dl,
dt,
dd,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
button {
  margin: 0;
  padding: 0;
}
ul,
li {
  list-style: none;
}
img,
region {
  display: block;
}
a img {
  border: none;
}
a {
  text-decoration: none;
  font-weight: normal;
  font-family: inherit;
}
fieldset,
hr {
  border: none;
}
pre {
  font-size: 1em;
  font-family: sans-serif;
}
/* transparent resizer on textareas */
textarea {
  resize: none;
}
::-webkit-resizer {
  background-color: transparent;
}
/* Clear mozilla/ie dotted line around active links */
*:active,
*:focus {
  outline: none;
  -moz-outline-style: none;
}
/* Fix heading font styles and size */
h1,
h2,
h3,
h4,
h5,
h6,
h7 {
  font-weight: normal;
  font-size: 1em;
}
.homepage {
  background-color: #181026;
  overflow: hidden;
}
.homepage .navigation {
  position: fixed;
  width: 100%;
  z-index: 100;
}
.homepage .navigation .container {
  margin: 0 auto;
  max-width: 1200px;
  width: 90%;
}
.homepage .navigation .container .logo {
  background-image: url('../images/logo@2x.png');
  float: left;
  height: 112px;
  margin: 10px 0;
  width: 234px;
  background-repeat: no-repeat;
  background-size: 100%;
}
.homepage .navigation .container .nav-menu {
  float: right;
  padding-top: 30px;
  width: 475px;
}
.homepage .navigation .container .nav-menu li {
  float: left;
  list-style: none;
  padding: 5px 10px;
}
.homepage .navigation .container .nav-menu li a {
  color: #ffffff;
  font-size: .8em;
  font-weight: 600;
  padding: 5px 10px;
}
.homepage .navigation .container .nav-menu li a:hover {
  transition: opacity 0.5s ease-in-out;
  -moz-transition: opacity 0.5s ease-in-out;
  -webkit-transition: opacity 0.5s ease-in-out;
  opacity: .5;
}
.homepage .navigation .container .mobile-padding {
  transition: background-color 0.5s ease-in-out;
  -moz-transition: background-color 0.5s ease-in-out;
  -webkit-transition: background-color 0.5s ease-in-out;
  display: none;
  float: right;
  margin-top: 20px;
  padding: 20px;
  border-radius: 5px;
}
.homepage .navigation .container .mobile-padding.show {
  background-color: #00959c;
}
.homepage .navigation .container .mobile-padding:hover {
  transition: background-color 0.5s ease-in-out;
  -moz-transition: background-color 0.5s ease-in-out;
  -webkit-transition: background-color 0.5s ease-in-out;
  background-color: #00959c;
  cursor: pointer;
}
.homepage .navigation .container .mobile-padding .mobile-nav {
  background-image: url('../images/img_hamburger.png');
  float: right;
  height: 13px;
  width: 18px;
}
.homepage .navigation .container .mobile-menu {
  background-color: #ffffff;
  display: none;
  position: fixed;
  left: 0;
  top: 110px;
  width: 150px;
}
.homepage .navigation .container .mobile-menu.show {
  display: block !important;
  width: 100%;
}
.homepage .navigation .container .mobile-menu li {
  transition: background-color 0.3s ease-in-out;
  -moz-transition: background-color 0.3s ease-in-out;
  -webkit-transition: background-color 0.3s ease-in-out;
  border-bottom: 1px solid #d5d5d5;
  box-sizing: border-box;
  color: #181026;
  font-size: .8em;
}
.homepage .navigation .container .mobile-menu li:last-child {
  border-bottom: none;
}
.homepage .navigation .container .mobile-menu li:hover {
  transition: background-color 0.3s ease-in-out;
  -moz-transition: background-color 0.3s ease-in-out;
  -webkit-transition: background-color 0.3s ease-in-out;
  background-color: #00959c;
}
.homepage .navigation .container .mobile-menu li a {
  transition: color 0.3s ease-in-out;
  -moz-transition: color 0.3s ease-in-out;
  -webkit-transition: color 0.3s ease-in-out;
  box-sizing: border-box;
  color: #181026;
  display: block;
  padding: 15px 0 15px 15px;
}
.homepage .navigation .container .mobile-menu li a:hover {
  transition: color 0.3s ease-in-out;
  -moz-transition: color 0.3s ease-in-out;
  -webkit-transition: color 0.3s ease-in-out;
  color: #ffffff;
}
.homepage .hero {
  background: #17354e;
  /* Old browsers */
  /* IE9 SVG, needs conditional override of 'filter' to 'none' */
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIxMDAlIiB5Mj0iMTAwJSI+CiAgICA8c3RvcCBvZmZzZXQ9IjAlIiBzdG9wLWNvbG9yPSIjMTczNTRlIiBzdG9wLW9wYWNpdHk9IjEiLz4KICAgIDxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzQ1MjQ0OCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgPC9saW5lYXJHcmFkaWVudD4KICA8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2dyYWQtdWNnZy1nZW5lcmF0ZWQpIiAvPgo8L3N2Zz4=);
  background: -moz-linear-gradient(-45deg, #17354e 0%, #452448 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, right bottom, color-stop(0%, #17354e), color-stop(100%, #452448));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(-45deg, #17354e 0%, #452448 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(-45deg, #17354e 0%, #452448 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(-45deg, #17354e 0%, #452448 100%);
  /* IE10+ */
  background: linear-gradient(135deg, #17354e 0%, #452448 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#17354e', endColorstr='#452448', GradientType=1);
  /* IE6-8 fallback on horizontal gradient */
  color: #ffffff;
  padding: 100px 0;
  text-align: center;
  background-image: url('../images/img_hero.png');
  background-size: 100%;
  background-repeat: no-repeat;
}
.homepage .hero .squid {
  max-height: 507px;
  margin: 0 auto;
  max-width: 100%;
  width: 962px;
}
.homepage .hero .squid img.mobile-squid {
  display: none;
}
.homepage .hero .squid .container {
  margin: 0 auto;
  padding-top: 150px;
}
.homepage .hero .squid .container .line {
  border-top: 1px solid #00959c;
  margin: 0 auto;
  width: 500px;
}
.homepage .hero .squid .container .calltoaction {
  padding: 29px 0 30px;
}
.homepage .hero .squid .container .calltoaction h1 {
  font-family: 'Open Sans', sans-serif;
  font-size: 2em;
  font-weight: 300;
  display: inline-block;
  color: #ffffff;
}
.homepage .hero .squid .container .calltoaction h2 {
  color: #00959C;
  font-weight: bold;
  font-size: 1.0em;
  line-height: 2;
  text-transform: uppercase;
}
.homepage .hero .squid .container .calltoaction h1.bold {
  font-weight: bold;
  padding: 0px 5px;
}
.homepage .hero .squid .container .calltoaction .subheader {
  font-family: 'Open Sans', sans-serif;
  font-size: .9em;
  font-weight: 300;
  font-style: italic;
  color: #ffffff;
  line-height: 3;
  opacity: .5;
}
.homepage .hero .squid .container .button {
  margin-top: 50px;
  text-align: center;
}
.homepage .hero .squid .container .button a {
  color: #ffffff;
  background-color: #00959c;
  border-radius: 5px;
  padding: 15px 25px;
  font-size: .9em;
  font-weight: bold;
  margin-top: 50px;
}
.homepage .hero .squid .container .button a:hover {
  opacity: .5;
  transition: opacity 0.5s ease-in-out;
  -moz-transition: opacity 0.5s ease-in-out;
  -webkit-transition: opacity 0.5s ease-in-out;
}
.homepage .social {
  background-color: #181026;
  height: 75px;
}
.homepage .social .container {
  margin: 0 auto;
  width: 362px;
}
.homepage .social .container .icon {
  float: left;
  margin: 20px 25px;
  opacity: .5;
}
.homepage .social .container .icon:hover {
  transition: opacity 0.5s ease-in-out;
  -moz-transition: opacity 0.5s ease-in-out;
  -webkit-transition: opacity 0.5s ease-in-out;
  opacity: 1;
}
.homepage .social .container .facebook {
  background-image: url('../images/social_facebook.png');
  width: 11px;
  height: 24px;
}
.homepage .social .container .twitter {
  background-image: url('../images/social_twitter.png');
  width: 29px;
  height: 24px;
}
.homepage .social .container .plus {
  background-image: url('../images/social_plus.png');
  width: 25px;
  height: 24px;
}
.homepage .social .container .dribbble {
  background-image: url('../images/social_dribbble.png');
  width: 23px;
  height: 23px;
}
.homepage .social .container .linkedin {
  background-image: url('../images/social_linkedin.png');
  width: 24px;
  height: 21px;
}
.homepage .projects {
  background-color: #ffffff;
  padding-bottom: 100px;
}
.homepage .projects .container {
  *zoom: 1;
  margin: 0 auto;
  max-width: 1000px;
  padding-top: 70px;
  position: static;
}
.homepage .projects .container:before,
.homepage .projects .container:after {
  display: table;
  line-height: 0;
  content: "";
}
.homepage .projects .container:after {
  clear: both;
}
.homepage .projects .container .images .left {
  background-repeat: no-repeat;
  float: left;
}
.homepage .projects .container .images .right-top {
  background-repeat: no-repeat;
  float: left;
  margin-bottom: 6px;
  margin-left: 6px;
}
.homepage .projects .container .images .right-bot {
  background-repeat: no-repeat;
  float: left;
  margin-left: 6px;
}
.homepage .projects .message {
  color: #00959c;
  font-size: 2em;
  font-weight: 300;
  padding-top: 50px;
  text-align: center;
}
.homepage .projects .button {
  margin-top: 50px;
  text-align: center;
}
.homepage .projects .button a {
  color: #ffffff;
  background-color: #181026;
  border-radius: 5px;
  padding: 15px 25px;
  font-size: .9em;
  font-weight: bold;
  margin-top: 50px;
}
.homepage .projects .button a:hover {
  opacity: .5;
  transition: opacity 0.5s ease-in-out;
  -moz-transition: opacity 0.5s ease-in-out;
  -webkit-transition: opacity 0.5s ease-in-out;
}
.homepage .services {
  *zoom: 1;
  background-color: #181026;
  color: #ffffff;
  margin-top: 100px;
}
.homepage .services:before,
.homepage .services:after {
  display: table;
  line-height: 0;
  content: "";
}
.homepage .services:after {
  clear: both;
}
.homepage .services .container {
  margin: 0 auto;
  max-width: 1000px;
}
.homepage .services .container h2 {
  font-family: 'Open Sans', sans-serif;
  font-size: 1.8em;
  font-weight: 300;
  color: #ffffff;
  margin-bottom: 50px;
  text-align: center;
}
.homepage .services .container .service {
  *zoom: 1;
  float: left;
  padding-left: 5%;
  width: 30%;
}
.homepage .services .container .service:before,
.homepage .services .container .service:after {
  display: table;
  line-height: 0;
  content: "";
}
.homepage .services .container .service:after {
  clear: both;
}
.homepage .services .container .service.ux {
  padding-left: 0px;
}
.homepage .services .container .service .icon {
  margin: 0 auto;
  margin-bottom: 25px;
}
.homepage .services .container .service .icon.ux {
  background-image: url('../images/icon_ux@2x.png');
  width: 80px;
  height: 79px;
  background-repeat: no-repeat;
  background-size: 100%;
}
.homepage .services .container .service .icon.design {
  background-image: url('../images/icon_design@2x.png');
  width: 79px;
  height: 79px;
  background-repeat: no-repeat;
  background-size: 100%;
}
.homepage .services .container .service .icon.tech {
  background-image: url('../images/icon_tech@2x.png');
  width: 80px;
  height: 79px;
  background-repeat: no-repeat;
  background-size: 100%;
}
.homepage .services .container .service h3 {
  font-size: 1.2em;
  font-weight: 300;
  text-align: center;
}
.homepage .services .container .service p {
  font-size: .8em;
  line-height: 1.7;
  margin-bottom: 130px;
  margin-top: 25px;
  text-align: center;
}
.homepage .testimonials {
  background: #009883;
  /* Old browsers */
  /* IE9 SVG, needs conditional override of 'filter' to 'none' */
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIxMDAlIiB5Mj0iMTAwJSI+CiAgICA8c3RvcCBvZmZzZXQ9IjAlIiBzdG9wLWNvbG9yPSIjMDA5ODgzIiBzdG9wLW9wYWNpdHk9IjEiLz4KICAgIDxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzAwOTU5YyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgPC9saW5lYXJHcmFkaWVudD4KICA8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2dyYWQtdWNnZy1nZW5lcmF0ZWQpIiAvPgo8L3N2Zz4=);
  background: -moz-linear-gradient(-45deg, #009883 0%, #00959c 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, right bottom, color-stop(0%, #009883), color-stop(100%, #00959c));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(-45deg, #009883 0%, #00959c 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(-45deg, #009883 0%, #00959c 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(-45deg, #009883 0%, #00959c 100%);
  /* IE10+ */
  background: linear-gradient(135deg, #009883 0%, #00959c 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#009883', endColorstr='#00959c', GradientType=1);
  /* IE6-8 fallback on horizontal gradient */
}
.homepage .testimonials .container {
  margin: 0 auto;
  max-width: 700px;
  padding-top: 70px;
  width: 80%;
}
.homepage .testimonials .container .icon {
  background-image: url('../images/icon_quote.png');
  width: 41px;
  height: 40px;
  margin: 0 auto;
}
.homepage .testimonials .container .testimonial {
  padding: 30px 0 70px;
}
.homepage .testimonials .container .testimonial .quote {
  font-family: 'Open Sans', sans-serif;
  font-size: .9em;
  font-weight: 300;
  font-style: italic;
  color: #ffffff;
  line-height: 1.5;
  padding-bottom: 25px;
  text-align: center;
}
.homepage .testimonials .container .testimonial .photo {
  background-image: url('../images/photo_trapp.png');
  width: 92px;
  height: 92px;
  margin: 0 auto;
}
.homepage .testimonials .container .testimonial p {
  color: #ffffff;
  font-size: .9em;
  text-align: center;
}
.homepage .testimonials .container .testimonial p.name {
  font-weight: 600;
  padding-top: 15px;
}
.homepage .contact {
  *zoom: 1;
  background-color: #ffffff;
}
.homepage .contact:before,
.homepage .contact:after {
  display: table;
  line-height: 0;
  content: "";
}
.homepage .contact:after {
  clear: both;
}
.homepage .contact .container {
  max-width: 1000px;
  width: 100%;
  margin: 0 auto;
  padding-top: 70px;
}
.homepage .contact .container h2 {
  font-family: 'Open Sans', sans-serif;
  font-size: 1.8em;
  font-weight: 300;
  color: #181026;
  text-align: center;
}
.homepage .contact .container .subheader {
  font-family: 'Open Sans', sans-serif;
  font-size: .9em;
  font-weight: 300;
  font-style: italic;
  color: #00959c;
  margin: 0 auto;
  padding-top: 10px;
  text-align: center;
  width: 500px;
}
.homepage .contact .container .content {
  margin: 30px 0 70px;
}
.homepage .contact .container .content .texas {
  float: left;
  margin: 0 100px 70px 0;
}
.homepage .contact .container .content .links {
  padding-top: 50px;
}
.homepage .contact .container .content .links p {
  color: #181026;
  font-size: .8em;
  line-height: 1.5;
}
.homepage .contact .container .content .links p.link {
  color: #00959c;
  font-size: 1.7em;
  padding-bottom: 30px;
}
.homepage .footer {
  color: #ffffff;
  font-size: .8em;
  text-align: center;
}
.homepage .footer .signature {
  padding-top: 30px;
}
.homepage .footer .signature p {
  display: inline;
  opacity: .8;
  padding-top: 30px;
}
.homepage .footer .signature p.bold {
  font-weight: 600;
}
@media (max-width: 800px) {
  .homepage .navigation .nav-menu {
    display: none;
  }
  .homepage .navigation .mobile-padding {
    display: inline-block !important;
  }
  .homepage .hero {
    background-size: auto;
    background-position: -300px 0px;
  }
  .homepage .hero .squid {
    height: auto !important;
  }
  .homepage .projects .container {
    width: 90%;
  }
  .homepage .projects .container .images img.left {
    float: left;
    height: auto;
    width: 60%;
  }
  .homepage .projects .container .images img.right-top {
    float: left;
    height: auto;
    margin-bottom: 6px;
    margin-left: 6px;
    width: 39%;
  }
  .homepage .projects .container .images img.right-bot {
    float: left;
    height: auto;
    margin-left: 6px;
    width: 39%;
  }
  .homepage .contact .container .content img.texas {
    float: none;
    height: auto;
    margin: 0 auto;
    width: 40%;
  }
  .homepage .contact .container .content .links p {
    text-align: center;
  }
}
@media (max-width: 480px) {
  .homepage .hero {
    padding-bottom: 0px;
    background-size: 300%;
    background-position: -200px 0px;
    height: 600px;
  }
  .homepage .hero .squid img.mobile-squid {
    display: none;
    height: 348px;
    margin: 0 auto;
    margin-top: 20px;
    max-width: 100%;
    position: relative;
    width: 462px;
  }
  .homepage .hero .squid div.container {
    margin-top: 50px;
    padding-top: 40px;
    position: relative;
  }
  .homepage .hero .squid div.container .line {
    width: 250px;
  }
  .homepage .hero .squid div.container .calltoaction h1.bottom-line {
    padding-bottom: 15px;
  }
  .homepage .hero .squid div.container .calltoaction p.subheader {
    line-height: 1.5;
    margin: 0 auto;
    width: 80%;
  }
  .homepage .projects {
    display: none;
  }
  .homepage .services .container {
    width: 80%;
  }
  .homepage .services .container .service.ux,
  .homepage .services .container .service.design,
  .homepage .services .container .service.tech {
    margin: 0 auto;
    width: 100%;
  }
  .homepage .services .container .service.ux p,
  .homepage .services .container .service.design p,
  .homepage .services .container .service.tech p {
    margin-bottom: 80px !important;
  }
  .homepage .contact .container .subheader {
    width: 80%;
  }
  .homepage .contact .container .content .links p.link {
    font-size: 1.3em;
  }
}
